<h1>Home</h1>
<p>Welcome
  <%= params[:first_name] %>!</p>
<h3>All Gossips :</h3>
<div class="row">
  <% @gossip.each do |gossip| %>
  <div class="card w-25">
    <div class="card-body">
      <h5 class="card-title">
        <%= gossip.author %>
      </h5>
      <p class="card-text">
        <%= gossip.content %>
      </p>
      <a href="/gossips/<%= gossip.id %>" class="btn btn-primary">Read more</a>
    </div>
  </div>
  <% end %>
</div>